# Node
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
backend/.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dependências
package-lock.json

# Build
dist/
build/

# Uploads temporários
uploads/

# Cache
.cache/